<section class="catalog">
    <div class="container">
        <div class="brands">
            <div class="brands-title">БРЕНДЫ</div>

            <div class="brands-search">
                <div class="brands-search-input">
                    <input type="text" placeholder="Поиск по брендам">

                    <div class="brands-search-input-icon">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5493 19.5493L28.6683 28.6683M22.3328 12.8295C22.3328 18.078 18.078 22.3328 12.8295 22.3328C7.58094 22.3328 3.32617 18.078 3.32617 12.8295C3.32617 7.58094 7.58094 3.32617 12.8295 3.32617C18.078 3.32617 22.3328 7.58094 22.3328 12.8295Z"
                                  stroke="#B2ADAD" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="brands-items">
                <div class="brands-item">
                    <label for="searchFilterCheckbox1">
                        <input type="checkbox" id="searchFilterCheckbox1">
                        Брендованный
                    </label>
                </div>


                <div class="brands-item">
                    <label for="searchFilterCheckbox2">
                        <input type="checkbox" id="searchFilterCheckbox2">
                        Брендованный
                    </label>
                </div>


                <div class="brands-item">
                    <label for="searchFilterCheckbox3">
                        <input type="checkbox" id="searchFilterCheckbox3">
                        Брендованный
                    </label>
                </div>


                <div class="brands-item">
                    <label for="searchFilterCheckbox4">
                        <input type="checkbox" id="searchFilterCheckbox4">
                        Брендованный
                    </label>
                </div>


            </div>

        </div>

        <div class="products">
            <div class="products-filter">

            </div>

            <div class="products-choose-brands">

            </div>

            <div class="products-title">

            </div>

            <div class="products-items">
                <div class="products-item">

                </div>
            </div>
        </div>
    </div>
</section>
