<section class="catalog">
    <div class="container">
        <div class="brands">
            <div class="brands-title">БРЕНДЫ</div>

            <div class="brands-search">
                <div class="brands-search-input">
                    <input type="text" placeholder="Поиск по брендам">

                    <div class="brands-search-input-icon">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5493 19.5493L28.6683 28.6683M22.3328 12.8295C22.3328 18.078 18.078 22.3328 12.8295 22.3328C7.58094 22.3328 3.32617 18.078 3.32617 12.8295C3.32617 7.58094 7.58094 3.32617 12.8295 3.32617C18.078 3.32617 22.3328 7.58094 22.3328 12.8295Z"
                                  stroke="#B2ADAD" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="brands-items">
                <div class="brands-item">
                    <label for="searchFilterCheckbox1">
                        <input type="checkbox" id="searchFilterCheckbox1">
                        Брендованный
                    </label>
                </div>


                <div class="brands-item">
                    <label for="searchFilterCheckbox2">
                        <input type="checkbox" id="searchFilterCheckbox2">
                        Брендованный
                    </label>
                </div>


                <div class="brands-item">
                    <label for="searchFilterCheckbox3">
                        <input type="checkbox" id="searchFilterCheckbox3">
                        Брендованный
                    </label>
                </div>


                <div class="brands-item">
                    <label for="searchFilterCheckbox4">
                        <input type="checkbox" id="searchFilterCheckbox4">
                        Брендованный
                    </label>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="products-filter">
                <div class="products-filter-block">
                    <div class="products-filter-block-left">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 15L6.52221 18.9992L6.5 18.9796M6.5 18.9796L2 15M6.5 18.9796V19M6.5 18.9796V5"
                                  stroke="#727271" stroke-linecap="round"/>
                            <path d="M12 9L16.4778 5.0008L16.5 5.02044M16.5 5.02044L21 9M16.5 5.02044V5M16.5 5.02044V19"
                                  stroke="#727271" stroke-linecap="round"/>
                        </svg>

                        <div>Сначала дешевые</div>
                    </div>

                    <div class="products-filter-block-right">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.5037 7.26978L12.0259 16.7475L2.49417 7.26978" stroke="#727271"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>

                    <div class="products-filter-block-hidden">
                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 15L6.52221 18.9992L6.5 18.9796M6.5 18.9796L2 15M6.5 18.9796V19M6.5 18.9796V5"
                                          stroke="#727271" stroke-linecap="round"/>
                                    <path d="M12 9L16.4778 5.0008L16.5 5.02044M16.5 5.02044L21 9M16.5 5.02044V5M16.5 5.02044V19"
                                          stroke="#727271" stroke-linecap="round"/>
                                </svg>

                                <div>Сначала дешевые</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.5037 7.26978L12.0259 16.7475L2.49417 7.26978" stroke="#727271"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>

                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>

                                <div>Сначала дорогие</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>


                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>

                                <div>Сначала большее количество</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>


                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>

                                <div>Быстрая доставка</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products-choose-brands">
                <div class="products-choose-brands-item">
                    <div>
                        Бренды:
                    </div>
                    <span>АктивПром-Плюс</span>
                    <div class="products-choose-brands-item-svg">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.66797 1.66724L8.00065 7.99992M8.00065 7.99992L14.3333 14.3326M8.00065 7.99992L1.66797 14.3326M8.00065 7.99992L14.3333 1.66724"
                                  stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="products-top">
                <div class="products-title">
                    Бренд, артикул, наименование
                </div>
                <div class="products-title">
                    Доставка
                </div>
                <div class="products-title">
                    Наличие
                </div>
                <div class="products-title">
                    Цена за ед.
                </div>
                <div class="products-title">
                    Кратность
                </div>
            </div>

            <div class="product">
                <div class="product-image">
                    <img src="../../assets/images/example.png" alt="Image">
                </div>

                <div class="product-info">
                    <div class="product-title">
                        <div class="product-name">MASUMA</div>
                        <div class="product-article">ВСН-80-Л</div>
                    </div>

                    <div class="product-item">
                        <div class="product-item-names">
                            Здесь будет наименование товара, которое может быть как длинным, так и коротким, очень
                            длинное название...
                        </div>
                        <div class="product-item-delivery">
                            3 дня
                        </div>

                        <div class="product-item-quantity">
                            50шт
                        </div>

                        <div class="product-item-price">
                            <span>1 444</span>₽
                        </div>

                        <div class="product-item-cart">
                            <input type="text" value="1">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.79134 20.2075L6.48966 3.89453H3.125M7.25268 9.22637H27.5579C28.2192 9.22637 28.6984 9.85682 28.5214 10.494L25.7099 20.6155C25.45 21.5513 24.5979 22.1989 23.6267 22.1989H10.937C9.85782 22.1989 8.9439 21.4032 8.79544 20.3343L7.25268 9.22637Z"
                                          stroke="#727271" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.8951 26.5296C12.8951 27.4002 12.1893 28.106 11.3186 28.106C10.448 28.106 9.74219 27.4002 9.74219 26.5296C9.74219 25.6589 10.448 24.9531 11.3186 24.9531C12.1893 24.9531 12.8951 25.6589 12.8951 26.5296Z"
                                          fill="#727271"/>
                                    <path d="M24.9008 26.5296C24.9008 27.4002 24.195 28.106 23.3243 28.106C22.4537 28.106 21.7479 27.4002 21.7479 26.5296C21.7479 25.6589 22.4537 24.9531 23.3243 24.9531C24.195 24.9531 24.9008 25.6589 24.9008 26.5296Z"
                                          fill="#727271"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="product-item-names">
                            Здесь будет наименование товара, которое может быть как длинным, так и коротким, очень
                            длинное название...
                        </div>
                        <div class="product-item-delivery">
                            3 дня
                        </div>

                        <div class="product-item-quantity">
                            50шт
                        </div>

                        <div class="product-item-price">
                            <span>1 444</span>₽
                        </div>

                        <div class="product-item-cart">
                            <input type="text" value="1">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.79134 20.2075L6.48966 3.89453H3.125M7.25268 9.22637H27.5579C28.2192 9.22637 28.6984 9.85682 28.5214 10.494L25.7099 20.6155C25.45 21.5513 24.5979 22.1989 23.6267 22.1989H10.937C9.85782 22.1989 8.9439 21.4032 8.79544 20.3343L7.25268 9.22637Z"
                                          stroke="#727271" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.8951 26.5296C12.8951 27.4002 12.1893 28.106 11.3186 28.106C10.448 28.106 9.74219 27.4002 9.74219 26.5296C9.74219 25.6589 10.448 24.9531 11.3186 24.9531C12.1893 24.9531 12.8951 25.6589 12.8951 26.5296Z"
                                          fill="#727271"/>
                                    <path d="M24.9008 26.5296C24.9008 27.4002 24.195 28.106 23.3243 28.106C22.4537 28.106 21.7479 27.4002 21.7479 26.5296C21.7479 25.6589 22.4537 24.9531 23.3243 24.9531C24.195 24.9531 24.9008 25.6589 24.9008 26.5296Z"
                                          fill="#727271"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="products-more">
                <button>Показать еще</button>
            </div>

            <div class="products-pagination">
                <a class="arrow-left" href="#">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.16 14.3367L4.84 8.01797L11.16 1.66334" stroke="#B2ADAD" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>

                <div class="products-pagination-block">
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </div>

                <a class="arrow-right active" href="#">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.16 14.3367L4.84 8.01797L11.16 1.66334" stroke="#B2ADAD" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
</section>
