<section class="catalog">
    <div class="container">
        <div class="brands">
            <div class="brands-title">БРЕНДЫ</div>

            <div class="brands-search">
                <div class="brands-search-input">
                    <input type="text" placeholder="Поиск по брендам">

                    <div class="brands-search-input-icon">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5493 19.5493L28.6683 28.6683M22.3328 12.8295C22.3328 18.078 18.078 22.3328 12.8295 22.3328C7.58094 22.3328 3.32617 18.078 3.32617 12.8295C3.32617 7.58094 7.58094 3.32617 12.8295 3.32617C18.078 3.32617 22.3328 7.58094 22.3328 12.8295Z"
                                  stroke="#B2ADAD" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="brands-items" id="brands-items">
                <!--  Тут список бренд  -->
            </div>
        </div>

        <div class="products-block">
            <div class="products-filter">
                <div class="products-filter-block">
                    <div class="products-filter-block-left">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 15L6.52221 18.9992L6.5 18.9796M6.5 18.9796L2 15M6.5 18.9796V19M6.5 18.9796V5"
                                  stroke="#727271" stroke-linecap="round"/>
                            <path d="M12 9L16.4778 5.0008L16.5 5.02044M16.5 5.02044L21 9M16.5 5.02044V5M16.5 5.02044V19"
                                  stroke="#727271" stroke-linecap="round"/>
                        </svg>

                        <div>Сначала дешевые</div>
                    </div>

                    <div class="products-filter-block-right">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.5037 7.26978L12.0259 16.7475L2.49417 7.26978" stroke="#727271"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>

                    <div class="products-filter-block-hidden">
                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 15L6.52221 18.9992L6.5 18.9796M6.5 18.9796L2 15M6.5 18.9796V19M6.5 18.9796V5"
                                          stroke="#727271" stroke-linecap="round"/>
                                    <path d="M12 9L16.4778 5.0008L16.5 5.02044M16.5 5.02044L21 9M16.5 5.02044V5M16.5 5.02044V19"
                                          stroke="#727271" stroke-linecap="round"/>
                                </svg>

                                <div>Сначала дешевые</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.5037 7.26978L12.0259 16.7475L2.49417 7.26978" stroke="#727271"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>

                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>

                                <div>Сначала дорогие</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>


                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>

                                <div>Сначала большее количество</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>


                        <div class="products-filter-block-hidden-item">
                            <div class="products-filter-block-hidden-left">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>

                                <div>Быстрая доставка</div>
                            </div>

                            <div class="products-filter-block-hidden-right">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products-choose-brands">
                <div class="products-choose-brands-item">
                    <div>
                        Бренды:
                    </div>
                    <span>АктивПром-Плюс</span>
                    <div class="products-choose-brands-item-svg">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.66797 1.66724L8.00065 7.99992M8.00065 7.99992L14.3333 14.3326M8.00065 7.99992L1.66797 14.3326M8.00065 7.99992L14.3333 1.66724"
                                  stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="products-top">
                <div class="products-title">
                    Бренд, артикул, наименование
                </div>
                <div class="products-title">
                    Доставка
                </div>
                <div class="products-title">
                    Наличие
                </div>
                <div class="products-title">
                    Цена за ед.
                </div>
                <div class="products-title">
                    Кратность
                </div>
            </div>

            <div class="products" id="products">
                <!--  Тут список продуктов  -->
            </div>


            <div class="products-more">
                <button>Показать еще</button>
            </div>

            <div class="products-pagination">
                <a class="arrow-left" href="#">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.16 14.3367L4.84 8.01797L11.16 1.66334" stroke="#B2ADAD" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>

                <div class="products-pagination-block">
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </div>

                <a class="arrow-right active" href="#">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.16 14.3367L4.84 8.01797L11.16 1.66334" stroke="#B2ADAD" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
