@import "../variables";
@import "../mixins";

.catalog {
  .container {
    display: flex;

    .brands {
      width: 230px;
      box-sizing: border-box;
      flex-shrink: 0;
      @media screen and (max-width: 1229px) {
        display: none;
      }

      .brands-title {
        text-transform: uppercase;
        color: $black;
        margin-bottom: 15px;
      }

      .brands-search {
        .brands-search-input {
          width: 100%;
          position: relative;
          margin-bottom: 11px;

          input {
            width: 100%;
            padding: 15px 10px 15px 52px;
            box-sizing: border-box;
            border: 1px solid $medium-grey;
            border-radius: 5px;
            color: $black;
            font-family: $font-family;

            &:focus {
              outline: none;
            }
          }

          .brands-search-input-icon {
            position: absolute;
            left: 10px;
            top: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .brands-items {
        height: 382px;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background-color: $light-grey;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $medium-grey;
          border-radius: 8px;
        }

        .brands-item {
          padding: 4px 0;
          @include checkbox-custom;
        }
      }
    }

    .products-block {
      padding: 0 15px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .products-filter {
        display: flex;
        justify-content: right;
        margin-bottom: 18px;

        @media screen and (max-width: 1229px) {
          justify-content: space-between;
          align-items: center;
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 539px) {
          display: flex;
        }

        .products-filter-brands {
          padding: 4px 0;
          align-items: center;
          justify-content: center;
          display: none;
          border-radius: 5px;
          background: $blue;
          color: $white;
          box-sizing: border-box;
          margin-right: 10px;
          cursor: pointer;
          transition: .2s;

          &:hover {
            background: $dark-blue;
          }

          @media screen and (max-width: 1229px) {
            display: flex;
          }
          @media screen and (max-width: 539px) {
            flex-grow: 1;
          }
        }

        .products-filter-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          padding: 8px 15px;
          width: 330px;
          background: $light-grey-2;
          color: $grey;
          cursor: pointer;
          position: relative;
          box-sizing: border-box;
          margin-left: 10px;


          &:hover .products-filter-block-hidden {
            display: block;
          }

          @media screen and (max-width: 1229px) {
            width: unset;
          }
          @media screen and (max-width: 539px) {
            width: 40px;
            height: 40px;
            padding: 0;
            justify-content: center;
          }

          .products-filter-block-left {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
              margin-right: 10px;
              @media screen and (max-width: 539px) {
                margin-right: 0;
              }
            }

            div {
              @media screen and (max-width: 539px) {
                display: none;
              }
            }
          }

          .products-filter-block-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 539px) {
              display: none;
            }
          }

          .products-filter-block-hidden {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
            border-radius: 5px;
            width: 100%;
            color: $grey;
            cursor: pointer;
            box-sizing: border-box;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
            background: $white;

            @media screen and (max-width: 539px) {
              left: unset;
              right: 0;
              width: 330px;
            }

            .products-filter-block-hidden-item {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 8px 15px;
              box-sizing: border-box;

              .products-filter-block-hidden-left {
                display: flex;
                align-items: center;

                svg {
                  margin-right: 10px;
                }
              }

              .products-filter-block-hidden-right {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                  transform: rotateZ(180deg);
                }
              }

              &:hover {
                background: $light-grey-2;
              }
            }
          }
        }
      }

      .products-choose-brands {
        display: flex;

        .products-choose-brands-item {
          border-radius: 20px;
          padding: 5px 15px;
          font-size: 13px;
          color: $white;
          background: $red;
          display: flex;
          box-sizing: border-box;
          margin-right: 10px;
          margin-bottom: 10px;
          cursor: pointer;

          span {
            margin: 0 14px 0 7px;
          }

          .products-choose-brands-item-svg {
            display: flex;
            align-items: center;
          }
        }
      }

      .products-top {
        background: $light-grey-2;
        margin-top: 20px;
        border-radius: 8px;
        display: grid;
        padding: 14px 19px;
        grid-template-columns: 7fr  2fr 2fr 2fr 2fr;

        @media screen and (max-width: 1499px) {
          grid-template-columns: 6fr  2fr 2fr 2fr 2fr;
        }
        @media screen and (max-width: 989px) {
          display: none;
        }

        .products-title {
          font-family: $font-family;
          font-weight: 400;
          font-size: 13px;
          color: $black;
        }
      }

      .product {
        box-shadow: 0 0 15px 7px $light-grey-2;
        display: grid;
        grid-template-columns: 2fr 13fr;
        padding: 7px 19px;
        margin-top: 15px;
        border-radius: 8px;
        background: $white;

        @media screen and (max-width: 1499px) {
          grid-template-columns:  1fr;
        }

        @media screen and (max-width: 989px) {
          padding: 7px 15px;
        }

        .product-image {
          height: 73px;
          width: 99px;
          justify-self: center;
          background-size: contain;
          background-repeat: no-repeat;
          text-align: center;
          margin-right: 10px;
          background-position: center;

          @media screen and (max-width: 1499px) {
            display: none;
          }
        }

        .product-info {

          .product-title {
            display: flex;
            align-items: center;
            padding: 17px 0;

            @media screen and (max-width: 989px) {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr;
              padding: 0;
            }

            .product-image-small {
              display: none;
              height: 30px;
              width: 45px;
              justify-self: center;
              background-size: contain;
              background-repeat: no-repeat;
              text-align: center;
              margin-right: 10px;
              background-position: center;

              @media screen and (max-width: 1499px) {
                display: block;
              }

              @media screen and (max-width: 989px) {
                order: 2;
                margin-right: 0;
                justify-self: right;
              }
            }

            .product-name {
              font-weight: 700;
              font-size: 13px;
              text-transform: uppercase;
              color: $black;
              margin-right: 50px;

              @media screen and (max-width: 989px) {
                order: 1;
                margin-right: 0;
                font-size: 14px;
              }
            }

            .product-article {
              font-weight: 700;
              font-size: 13px;
              color: $grey;

              @media screen and (max-width: 989px) {
                order: 3;
                font-size: 16px;
                text-transform: lowercase;
              }
            }
          }

          .product-item {
            display: grid;
            grid-template-columns: 5fr 2fr 2fr 2fr 2fr;
            padding: 4px 0;
            border-top: 1px solid $light-grey-2;
            font-size: 13px;
            color: $grey;

            @media screen and (max-width: 1499px) {
              grid-template-columns: 6fr 2fr 2fr 2fr 2fr;
            }

            @media screen and (max-width: 989px) {
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: repeat(5, 3fr);
              border-top: 1px solid $medium-grey;
            }

            @media screen and (max-width: 750px) {
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(5, 3fr);
              border-top: 1px solid $medium-grey;
            }

            .product-item-title {
              display: none;
              @media screen and (max-width: 989px) {
                font-size: 13px;
                color: $black;
                display: flex;
                border-top: 1px solid $light-grey-2;
                align-items: center;
              }
            }

            .product-item-hidden {
              display: none;
              @media screen and (max-width: 989px) {
                display: flex;
              }
              @media screen and (max-width: 750px) {
                display: none;
              }
            }

            .product-item-names {
              padding-right: 20px;
              line-height: 100%;
              display: flex;
              align-items: center;

              @media screen and (max-width: 989px) {
                grid-column: span 3;
              }
            }

            .product-item-delivery {
              display: flex;
              align-items: center;

              @media screen and (max-width: 989px) {
                border-top: 1px solid $light-grey-2;
              }
            }

            .product-item-quantity {
              display: flex;
              align-items: center;

              @media screen and (max-width: 989px) {
                border-top: 1px solid $light-grey-2;
              }
            }

            .product-item-title-quantity {
              @media screen and (max-width: 989px) {

              }
            }

            .product-item-price {
              font-weight: 700;
              color: $dark-grey;
              display: flex;
              align-items: center;

              span {
                color: $grey;
                margin-right: 5px;
              }

              @media screen and (max-width: 989px) {
                border-top: 1px solid $light-grey-2;

              }
            }

            .product-item-title-price {
              @media screen and (max-width: 989px) {

              }
            }

            .product-item-cart {
              display: flex;
              align-items: center;

              @media screen and (max-width: 989px) {
                border-top: 1px solid $light-grey-2;
              }

              .product-item-cart-input {
                position: relative;
                align-items: center;
                display: flex;
                transition: .2s;
                padding: 3px 5px;

                &:hover {
                  border-radius: 4px;
                  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 20px rgba(0, 0, 0, .12);
                }

                &:hover .product-item-cart-input-decrease {
                  visibility: unset;
                }

                &:hover .product-item-cart-input-increase {
                  visibility: unset;
                }

                &:hover input {
                  border: 0;
                }

                .product-item-cart-input-decrease {
                  background-image: url("../../assets/images/icons/minus.svg");
                  height: 26px;
                  width: 15px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  padding: 0;
                  margin: 0 2px 0 0;
                  box-shadow: none;
                  background-color: $white;
                  border: 0;
                  cursor: pointer;
                  visibility: hidden;
                  opacity: .8;

                  &:hover {
                    opacity: 1;
                  }
                }

                .product-item-cart-input-increase {
                  background-image: url("../../assets/images/icons/plus.svg");
                  height: 26px;
                  width: 15px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  padding: 0;
                  margin: 0 0 0 2px;
                  box-shadow: none;
                  background-color: $white;
                  border: 0;
                  cursor: pointer;
                  visibility: hidden;
                  opacity: .8;

                  &:hover {
                    opacity: 1;
                  }
                }

                input {
                  width: 32px;
                  height: 22px;
                  text-align: center;
                  padding: 8px 0;
                  box-sizing: border-box;
                  border-radius: 3px;
                  font-family: $font-family;
                  font-size: 13px;
                  color: $grey;
                  border: 1px solid $grey;
                  outline-color: transparent;
                }
              }

              a {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .products-more {
      display: flex;
      justify-content: center;

      button {
        border-radius: 8px;
        padding: 14px 60px 16px 60px;
        background: $blue;
        border: 0;
        font-family: $font-family;
        font-size: 14px;
        text-align: center;
        color: $white;
        cursor: pointer;
        transition: all .2s;
        margin-top: 90px;

        &:hover {
          background: $dark-blue;
        }
      }
    }

    .products-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      flex-wrap: nowrap;

      .products-pagination-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          background: $white;
          border-radius: 5px;
          font-size: 13px;
          text-align: center;
          color: $grey;
          text-decoration: none;

          &.active {
            background: $blue;
            color: $white;
            cursor: not-allowed;
          }

          &:hover {
            background: $light-blue;
          }

          &.active:hover {
            background: $blue;
          }
        }
      }

      .arrow-right {
        margin-left: 20px;
        cursor: not-allowed;
        transform: rotateZ(180deg);

        &.active {
          cursor: pointer;

          svg path {
            stroke: $blue
          }
        }
      }

      .arrow-left {
        margin-right: 20px;
        cursor: not-allowed;

        &.active {
          cursor: pointer;

          svg path {
            stroke: $blue
          }
        }
      }
    }
  }
}
