@font-face {
  src: url("../assets/fonts/Tahoma.ttf");
  font-family: "Tahoma";
  font-weight: 400;
}
@font-face {
  src: url("../assets/fonts/Tahoma-Bold.ttf");
  font-family: "Tahoma";
  font-weight: 700;
}
