$font-family: "Tahoma", sans-serif;

$container-width: 1471px;

$dark-blue: #0852a1;
$medium-blue: #2e89eb;
$blue: #539ded;
$light-blue: #aed5ff;
$white: #fff;
$light-grey-2: #f5f5f5;
$light-grey: #d7d7d7;
$medium-grey: #b2adad;
$sherry: #c61b23;
$red: #d7262e;
$grey: #727271;
$dark-grey: #565656;
$black: #3c3e40;
$pink: #e6127e;
$peach: #ff5b63;
$yellow: #ffb904;
$gold: #d4851e;
$orange: #f07c11;
$green: #009500;
$dark-mint-crossdoc: #138067;
$medium-mint-crossdoc: #1b9d7e;
$ligh-mint-crossdoc: #daf4f4;
$mint-crossdoc: #22c9a1;
$ligh-mint-crossdoc-2: #faffff;
$delicate-blue: #ecf5ff;
$illustrations: #5f5f5f;
$green-10: #1faf1f;
